@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-bg: #eee5db;
  --color-secondary: #809575;
  --color-accent: #ff6d3b;
  --color-offwhite: #fffdf9;
  --color-dustblue200: #bbdadd;
  --color-text: #272727;
  --color-skyblue500: #1b8691;
  --color-skyblue400: #23a2af;
  --color-skyblue100: #96f1fe;
  --color-skyblue600: #136c75;
  --color-lime800: #4c5524;
  --color-lime200: #c6dc68;
  --color-pink600: #d01878;
  --color-pink200: #fdbad1;
  --color-grassgreen700: #34562a;
  --color-grassgreen300: #80c86a;
  --color-orange50: #ffedea;
  --color-burnedorange300: #f8ad83;
  --color-burnedorange100: #fce3d9;
  --color-dustgreen200: #bfc9ba;
  --color-grey500: #868686;

  /*Typografi */
  --font-display: "Gloock", serif;
  --font-sans: "Fredoka", sans-serif;
  --font-serif: "Faustina", serif;

  /*radius*/
  --radius-50: 50px;

  /* max-width på større skærme end 1536px */
  --max-width-bscreen: 1600px;
}

@layer base {
}

@layer components {
}

@layer utilities {
  .switch-btn {
    @apply flex items-center justify-center px-4 py-2 lg:px-6 lg:py-4 rounded-full transition;
  }

  .switch-btn.active {
    @apply bg-burnedorange100 border-3 border-accent;
  }
}
