---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Oplysninger">
	<main class="container mx-auto p-8 2xl:max-w-bscreen">
		<!-- Oplysninger -->
		    <section class="mt-10 mb-10">
			    <Heading htmlheading="h1" size="xlarge" font="display" stylingclasses="text-center">Tak fordi du støtter Heltene</Heading>
			    <div class="relative w-full mx-auto mt-10 lg:mt-20">
        		    <div class="h-2 bg-offwhite w-73 mx-auto lg:w-200"></div>
        		    <div class="absolute -bottom-2 left-9 flex justify-between w-73 lg:w-200 mx-auto lg:left-52 lg:-bottom-3">
            		    <div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						    <img src="/assets/check.svg" alt="" class="lg:scale-115">
					    </div>
            		    <div class="bg-burnedorange100 border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10"></div>
            		    <div class="bg-offwhite border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10"></div>
            		    <div class="bg-offwhite border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10"></div>
        		    </div>
    		    </div>
			    <div class="grid grid-cols-4 items-center text-center gap-6 mt-4 lg:mx-29">
				    <Text teksttype="brødtekst">Beløb</Text>
				    <Text teksttype="brødtekst">Oplysninger</Text>
				    <Text teksttype="brødtekst">Betal</Text>
				    <Text teksttype="brødtekst">Bekræftelse</Text>
			    </div>
			    <div class="flex justify-center">
			        <div class="relative flex w-full max-w-4xl flex-col">
          			    <form class="mt-8 grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-16">
						    <div class="flex flex-col gap-6">
            				    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >Fornavn</Heading>
							    <input type="text" class="mb-4 w-full rounded-4xl border-none text-grey500 bg-offwhite text-base font-serif pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="Hans"/>

            				    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >Efternavn</Heading>
            				    <input type="text" class="mb-4 w-full rounded-4xl border-none text-text bg-offwhite text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="Petersen"/>
 
            				    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >Post nr.</Heading>
            				    <input type="text" class="mb-4 w-full rounded-4xl border-none text-text bg-offwhite text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="2300"/>
 
							    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >By</Heading>
            				    <input type="text" class="mb-4 w-full rounded-4xl border-none text-text bg-offwhite text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="København S"/>
 
							    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >Tlf nr.</Heading>
            				    <input type="text" class="mb-4 w-full rounded-4xl border-none text-text bg-offwhite text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="34 56 67 78"/>	
							
							    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2" >Email</Heading>
            				    <input type="text" class="mb-4 w-full rounded-4xl border-none text-text bg-offwhite text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="hanspeter@yahoo.com"/>
						    </div>	

						    <div class="flex flex-col gap-6">
							    <div class="flex justify-center mt-6">
                				    <input id="default-radio-1" type="radio" value="" name="default-radio" class="border-1 border-accent bg-offwhite focus:ring-accent checked:bg-accent rounded-full lg:w-6 lg:h-6">
                				    <label for="default-radio-1" class="select-none ms-2 font-serif text-xl"><Text teksttype="brødtekst">Ja tak, jeg ønsker at få skattefradrag for mit bidrag</Text></label>
            				    </div>	
							
							    <div class="flex justify-center mt-6">
                				    <input id="default-radio-1" type="radio" value="" name="default-radio" class="border-1 border-accent bg-offwhite focus:ring-accent checked:bg-accent rounded-full lg:w-6 lg:h-6">
                				    <label for="default-radio-1" class="select-none ms-2 font-serif text-xl"><Text teksttype="brødtekst">Ja tak, jeg vil gerne modtage nyhedsbrev fra Børneulykkesfonden og få nyeste viden om kampagner og aktiviteter</Text></label>
            				    </div>

							    <div class="flex justify-center mt-6">
                				    <input id="default-radio-1" type="radio" value="" name="default-radio" class="border-1 border-accent bg-offwhite focus:ring-accent checked:bg-accent rounded-full lg:w-6 lg:h-6">
                				    <label for="default-radio-1" class="select-none ms-2 font-serif text-xl"><Text teksttype="brødtekst">Ja jeg har læst og accepterer <Link href="#" variant="textlink" size="medium" font="serif">følgende betingelser</Link></Text></label>
            				    </div>	

							    <div>   
								    <Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-1" >Persondata</Heading>
								    <Text teksttype="brødtekst">Vi behandler dine personoplysninger dels efter den gældende EU persondataforordning og dels efter den danske persondatalov.</Text>
								    <Text teksttype="brødtekst">Vil du vide mere om dine rettigheder og vores databehandling, så kan du læse vores <Link href="https://xn--brneulykkesfonden-00b.dk/heltene/cookie-og-privatlivspolitik" variant="textlink" size="medium" font="serif">persondatapolitik</Link>.</Text>
								    <div class=" flex mt-6 self-end" x-data="{ paymentMethod: localStorage.getItem('paymentMethod') || 'mobilepay' }">
            					        <a x-show="paymentMethod === 'mobilepay'" href="/mpform" class="cursor-pointer">
	            					        <img src="/assets/orange_pil_hoejre.svg" class="scale-80">
            					        </a>
            					        <a x-show="paymentMethod === 'kort'" href="/form3" class="cursor-pointer">
	            					        <img src="/assets/orange_pil_hoejre.svg" class="scale-80">
            					        </a>
								    </div>
							    </div>
						    </div>
          			    </form>    
    		        </div>
			    </div>
		    </div>
		 </section>
</main>
</MainLayout>