---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Stoet from "../components/Stoet.astro";
import Legehelte from "../components/Legehelte.astro";
---
<MainLayout title="Titel">
	<!-- container mx-auto p-4 -->
	<main class="">
		<!-- HERO LEGEHELTENE -->
		<section class="bg-dustblue200 h-190 md:h-130 lg:h-160  ">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 2xl:max-w-bscreen mx-auto">
				<div class="p-4 text-center md:text-left md:pl-7 lg:text-left lg:pl-20">
					<img src="/assets/mobil_blaa_doodle.svg" class="mx-auto pt-10 pb-6 block md:hidden lg:hidden" alt="">
					<img src="/assets/blue_doodle_web.svg" class="pt-20 pb-6 hidden md:block lg:block" alt="doodle">
					<Heading htmlheading="h1" size="xlarge" font="display" stylingclasses="text-text intersect:animate-fade-right animate-once animate-duration-800ms">Legeheltene skaber leg, bevægelse og frirum</Heading>
					<Text teksttype="brødtekst" stylingclasses="pt-10 lg:w-115 text-text intersect:animate-fade-right animate-once animate-duration-800ms">Legeheltene møder børn på hospitaler, institutioner og indkvarteringssteder og skaber et frirum med leg, bevægelse og plads til at være barn igen.</Text>
				</div>
				<img src="/assets/legehelte_hero.svg" class="scale-80 md:scale-100 md:mt-15 lg:scale-90 lg:mt-5 relative z-0 intersect:animate-fade-down animate-once animate-duration-800ms" alt="">
			</div>
		</section>
		<div class="-mt-40 md:-mt-25 lg:-mt-38 relative">
			<Stoet/>
		</div>
		<!-- SLUT HERO LEGEHELTENE -->

		<!-- START - FÅ INDBLIK I LEGEHELTENS HVERDAG -->
		<section class=" bg-bg mt-20 md:grid md:grid-cols-2 md:mt-40 lg:grid lg:grid-cols-2 lg:mt-40 lg:gap-30 lg:relative 2xl:max-w-bscreen mx-auto">
			<iframe class="z-10 mx-auto h-70 w-95 rounded-tl-md rounded-tr-50 rounded-bl-50 rounded-br-md md:h-90 md:w-130 lg:w-190 lg:h-130 lg:ml-15 lg:z-10 intersect:animate-fade-up animate-once animate-duration-800ms" src="https://www.youtube.com/embed/_B3UnoStQDY?autoplay=1&mute=1&playsinline=1&rel=0" title="YouTube video player" allow="autoplay; encrypted-media; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin"allowfullscreen></iframe>

			<div class="bg-[url('/assets/blaa_boobel.svg')] bg-cover bg-no-repeat h-130 bg-center -mt-15 lg:h-170 lg:bg-[url('/assets/blaa_bobbel_web.svg')]">
				<div class="container mx-auto p-8 lg:text-left lg:pl-20 lg:pt-25">
					<img src="/assets/legehelte_hero.svg" alt="" class="absolute -rotate-20 scale-30 hidden lg:block lg:-top-70 lg:-right-25">
					<Heading htmlheading="h2" size="large" font="display" stylingclasses="pt-12 text-center lg:text-left text-text intersect:animate-fade-left animate-once animate-duration-800ms">Få indblik i <br/>Legeheltenes arbejde</Heading>
					<Text teksttype="brødtekst" stylingclasses="pt-8 text-text intersect:animate-fade-down animate-once animate-duration-800ms">Legeheltene skaber:</Text>
					<ul class="list-disc ml-6 intersect:animate-fade-down animate-once animate-duration-800ms">
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Et trygt frirum med plads til leg og bevægelse</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Et øjeblik, hvor børn kan være børn igen</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Tumlelege, samarbejde og store armbevægelser</Text></li>
					</ul>
					<Text teksttype="brødtekst" stylingclasses="pt-4 text-text intersect:animate-fade-down animate-once animate-duration-800ms">Vi møder børn på hospitaler, psykiatriske afdelinger, børnehjem og indkvarteringssteder for flygtninge.</Text>
					<div class="flex justify-center mt-8 lg:justify-start">
						<Text stylingclasses="text-text"><Link href="/forms" variant="primary" size="medium" icon="/assets/stoet_ikon_web.svg" iconHover="/assets/stoet_ikon_filled.svg">Støt legeheltene her</Link></Text>
					</div>
				</div>
			</div>
		</section>
		<!-- SLUT - FÅ INDBLIK I LEGEHELTENS HVERDAG -->

		<!-- START - VI LEGER HVER DAG -->
		 <section class="items-center mt-20">
    		<img src="/assets/boelge_orange_web.svg" alt="" class="hidden md:block lg:block">
			<img src="/assets/boelge_orange_mobil.svg" alt="" class="block md:hidden lg:hidden">
			<div class=" bg-burnedorange300">
				<div class="mx-auto p-8 text-center grid grid-cols-1 gap-24  md:grid-cols-2 md:gap-16 md:px-16 md:text-center lg:grid-cols-4 lg:gap-10 lg:pb-30 2xl:max-w-bscreen">
				<div>
					<Heading htmlheading="h1" size="xxlarge" font="display" stylingclasses="text-text intersect:animate-fade-down animate-once animate-duration-800ms">64</Heading>
					<Heading htmlheading="h2" size="medium" font="display" stylingclasses="text-text intersect:animate-fade-left animate-once animate-duration-800ms">Afdelinger</Heading>
					<Text teksttype="brødtekst" stylingclasses="text-text intersect:animate-fade-left animate-once animate-duration-800ms">Legeheltene er på 64 afdelinger inden for hospitalsvæsenet, børne- og ungepsykiatrien, børnehjem og indkvarteringssteder for flygtninge.</Text>
				</div>
				<div>
					<Heading htmlheading="h1" size="xxlarge" font="display" stylingclasses="text-text intersect:animate-fade-right animate-once animate-duration-800ms">3000+</Heading>
					<Heading htmlheading="h2" size="medium" font="display" stylingclasses="text-text intersect:animate-fade-up animate-once animate-duration-800ms">Legeheltevagter</Heading>
					<Text teksttype="brødtekst" stylingclasses="text-text intersect:animate-fade-up animate-once animate-duration-800ms">Vi har mere end 3000 Legeheltevagter hvert år.</Text>
				</div>
				<div>
					<Heading htmlheading="h1" size="xxlarge" font="display" stylingclasses="text-text intersect:animate-fade-up animate-once animate-duration-800ms">12.620</Heading>
					<Heading htmlheading="h2" size="medium" font="display" stylingclasses="text-text intersect:animate-fade-right animate-once animate-duration-800ms">Timer</Heading>
					<Text teksttype="brødtekst" stylingclasses="text-text intersect:animate-fade-right animate-once animate-duration-800ms">Vi leger 12.620 timer på et år. Det svarer til 35 timer hver eneste dag året rundt.</Text>
				</div>
				<div>
					<Heading htmlheading="h1" size="xxlarge" font="display" stylingclasses="text-text intersect:animate-fade-left animate-once animate-duration-800ms">21.700+</Heading>
					<Heading htmlheading="h2" size="medium" font="display" stylingclasses="text-text intersect:animate-fade-down animate-once animate-duration-800ms">Børn og unge</Heading>
					<Text teksttype="brødtekst" stylingclasses="text-text intersect:animate-fade-down animate-once animate-duration-800ms">Hvert år leger vi med mere end 21.700 børn og unge.</Text>
				</div>
				</div>
    		</div>
		</section>
		<!-- SLUT - VI LEGER HVER DAG -->

		 <!-- START - MØD DEN VIRKELIG HELT, LAUGE -->
		<section class="bg-dustblue200">
  			<div class="mx-auto md:grid md:grid-cols-1 md:py-16 lg:grid lg:grid-cols-2 2xl:max-w-bscreen">
    			<img src="/img/lauge.webp" alt="Lauge" class="mx-auto md:w-3/4 md:pt-10 lg:w-full lg:pt-5 intersect:animate-fade-right animate-once animate-duration-800ms">
    			<div class="container mx-auto p-8 md:px-16 md:pt-12 md:text-center lg:pt-40 lg:text-left">
      				<div class="flex justify-center md:justify-center lg:justify-start">
        				<img src="/assets/mobil_orange_doodle.svg" alt="" class="block lg:hidden">
        				<img src="/assets/orange_doodle_web.svg" alt="" class="hidden lg:block">
      				</div>
      				<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-center pt-6 pb-4 text-text md:text-center md:pb-6 lg:text-left intersect:animate-fade-left animate-once animate-duration-800ms">Mød den virkelige <br/> helt, Lauge</Heading>
      				<Text teksttype="brødtekst" stylingclasses="pb-4 text-text md:max-w-prose md:mx-auto lg:mx-0 intersect:animate-fade-left animate-once animate-duration-800ms">“Legeheltene og kreaheltene gør en kæmpe forskel på sygdomsramte børn, og de er i en eller anden forstand med til at gøre dem raske, fordi det de bidrager med er glæde, og de bringer håb og normalitet ind i hverdagen i form af de aktiviteter de giver.</Text>
      				<Text teksttype="brødtekst" stylingclasses="text-text md:max-w-prose md:mx-auto lg:mx-0 intersect:animate-fade-left animate-once animate-duration-800ms">Jeg tror på, at hvis man har den psykiske del med, så bliver man først og fremmest hurtigere rask, men det bliver også nemmere at komme igennem sådan et forløb, ikke kun for børnene, men for hele familien.”</Text>
      				<Heading htmlheading="h4" size="small" stylingclasses="font-medium text-skyblue500 pt-2 text-text md:text-center lg:text-left intersect:animate-fade-left animate-once animate-duration-800ms">Lauges mor</Heading>
      				<div class="flex justify-center pt-6 md:justify-center lg:justify-start">
        				<Text stylingclasses="text-text"><Link href="" variant="secondary" size="large">Mød flere helte som Lauge</Link></Text>
      				</div>
    			</div>
  			</div>
		</section>
		<img src="/assets/blaa_boelge_legeheltene.svg" alt="">

		<!-- SLUT - MØD DEN VIRKELIG HELT, LAUGE -->

		<!-- SECTION - LEG OG BEVÆGELSE -->
		<section class="container mx-auto p-8 flex flex-col justify-center items-center lg:mt-20 2xl:max-w-bscreen">
                <div class="lg:w-150">
                	<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-center pt-6 pb-4 text-text intersect:animate-fade-right animate-once animate-duration-800ms">Leg og bevægelse</Heading>
                	<Text teksttype="brødtekst" stylingclasses="text-center pb-10 lg:pt-8 lg:pb-14 text-text intersect:animate-fade-left animate-once animate-duration-800ms">Leg og bevægelse er vigtigt for børns udvikling. Også når de er indlagte eller lever et liv med langvarig eller kronisk sygdom. Få indblik i den viden og forskning, som danner grundlag for Legeheltenes arbejde.</Text>
                </div>
			<!-- Vigtighden af leg -->
			<div class="flex flex-col gap-10 justify-center items-center">
			<details class="group intersect:animate-fade-up animate-once animate-duration-800ms">
        		<summary class="flex flex-row items-center bg-offwhite w-90 h-30 rounded-tr-4xl rounded-bl-4xl border-4 border-transparent group-open:border-pink600 transition md:w-170 lg:w-300 lg:h-40">
            		<img src="/assets/leg_ikon.svg" alt="" class="scale-60 lg:scale-85">
					<Heading htmlheading="h4" size="medium" stylingclasses="font-semibold text-text">Vigtigheden af leg</Heading>
					<div class="ml-auto mr-4 transition-transform duration-300 group-open:rotate-180">
						<img src="/assets/chevrondown.svg" alt="" >
					</div>
        		</summary>

				<!-- indhold -->
				<div class="bg-pink200 w-100 mt-4 border-4 border-pink600 rounded-tr-4xl rounded-bl-4xl p-4 md:w-170 md:overflow-y-auto md:h-100 lg:w-300 lg:h-100 lg:overflow-y-auto">
					<div class="grid grid-cols-1 lg:grid-cols-2">
						<div>
							<Heading htmlheading="h3" size="large" stylingclasses="font-semibold pb-2 text-text">Vigtigheden af leg</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Legeheltene arbejder for at skabe aktiv leg for indlagte og udsatte børn, fordi leg er essentiel for børns udvikling og trivsel. Leg er et frirum, hvor børn kan være børn – selv midt i svære situationer.</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Et universelt fænomen</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Legeforskeren Johan Huizinga (1993) beskriver leg som ældre end kulturen og påpeger, at dyr ikke ventede på mennesker for at lære at lege. Leg rummer en særlig kraft, der kan begejstre og rive os med – noget større end os selv. Derfor har leg værdi i sig selv og skal tages alvorligt.</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Leg og trivsel</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Alle børn har ret til leg, og forskningen viser, at leg er afgørende for både deres nuværende trivsel og fremtidige udvikling. Legeforskeren Dion Sommer udtaler:</Text>
							<Text teksttype="konsultativ" stylingclasses="text-text">“Børn der leger mere, har mindre risiko for at blive ramt af angst, stress og depression. Det gør dem mere robuste og sætter gang i en positiv udviklingsspiral.” (Schelde, 2021)</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Effekt og potentiale</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Leg kan skabe et frirum fra sygdom og bekymringer og styrker børns fysiske, psykiske og sociale udvikling. På hospitaler hjælper leg børn med at mestre livet som syge (Gjærde et al., 2023).</Text>
							<Text teksttype="brødtekst" stylingclasses="text-text">Legens paradoks er, at dens store potentiale kun indfries, når legen er formålsløs – vi skal lege for legens skyld. Den udvikling vil Legeheltene være med til at styrke. At lege og føle sig i live er en del af det at blive rask.</Text>
						</div>
						<div class="self-center">
							<img src="/img/leg.webp" alt="">
						</div>
					</div>
				</div>
			</details>

			<!-- Vigtigheden af bevægelse -->
			<details class="group relative intersect:animate-fade-down animate-once animate-duration-800ms">
        		<summary class="flex flex-row justify-between items-center  bg-offwhite w-90 h-30 p-4 rounded-tr-4xl rounded-bl-4xl border-4 border-transparent group-open:border-accent transition md:w-170  lg:w-300 lg:h-40 lg:justify-end">
            		<div class="mr-auto lg:ml-4 transition-transform duration-300 group-open:rotate-180">
						<img src="/assets/chevrondown.svg" alt="" >
					</div>
					<Heading htmlheading="h3" size="medium" stylingclasses="font-semibold text-center text-text">Vigtigheden af bevægelse</Heading>
					<img src="/assets/bevaegelse_ikon.svg" alt="" class="scale-60  lg:scale-80 lg:pt-4 lg:pl-4">
        		</summary>
				<div class="bg-burnedorange100 w-100 mt-4 border-4 border-accent rounded-tr-4xl rounded-bl-4xl p-4 md:w-170 md:overflow-y-auto md:h-100 lg:overflow-y-auto lg:w-300 lg:h-100">
					<div class="grid grid-cols-1 lg:grid-cols-2">
						<div>
						<Heading htmlheading="h3" size="large" stylingclasses="font-semibold pb-2 text-text">Vigtigheden af bevægelse</Heading>
						<Text teksttype="brødtekst" stylingclasses="text-text">Legeheltene hjælper børn med at komme op af sengen og bruge kroppen – også når de er syge eller indlagte. Bevægelse er fundamentalt for både trivsel, helbred og udvikling.</Text>
						<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Bevægelse er afgørende for udviklingen</Heading>
						<Text teksttype="brødtekst" stylingclasses="text-text">Bevægelse styrker børns fysiske og mentale sundhed og kan både forebygge og behandle sygdom. Den største effekt ses, når inaktive børn bliver bare lidt mere aktive – derfor er bevægelse ekstra vigtig under en indlæggelse, hvor børn ofte er mest stillesiddende (Sundhedsstyrelsen, 2005–2011).</Text>
						<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Kropssyn og bevægelsesfilosofi</Heading>
						<Text teksttype="brødtekst" stylingclasses="text-text">Børn lærer verden og deres egen krop at kende gennem bevægelse. Det er deres første ”sprog” og tæt forbundet med leg, følelser, kreativitet og socialt samspil. Nye bevægelseserfaringer giver børn en følelse af handlekraft og styrker selvværd, robusthed og kropsfortrolighed.</Text>
						<Text teksttype="konsultativ" stylingclasses="text-text">Legeheltene arbejder ud fra et helhedsorienteret kropssyn, hvor krop og sind hænger sammen. Bevægelse er derfor ikke kun fysisk aktivitet, men en central del af læring, udvikling og det at være til i verden.</Text>
						<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Bevægelse på hospitalet</Heading>
						<Text teksttype="brødtekst" stylingclasses="text-text">Indlagte børn er ofte meget inaktive, og forskningen på området er begrænset. Derfor skaber Legeheltene trygge og glædesfyldte rammer for leg og bevægelse på hospitalerne. Aktiviteterne tilpasses det enkelte barns sygdom, behov og muligheder – med fokus på bevægelsesglæde, motoriske succesoplevelser og deltagelse for alle.</Text>
						</div>
						<div class="self-center">
							<img src="/img/bevaegelse.webp" alt="">
						</div>
					</div>
				</div>
    		</details>

			<!-- Når børn indlægges -->
			<details class="group intersect:animate-fade-up animate-once animate-duration-800ms">
        		<summary class="flex flex-row items-center bg-offwhite w-90 h-30 p-2 rounded-tr-4xl rounded-bl-4xl border-4 border-transparent group-open:border-skyblue500 transition md:w-170  lg:w-300 lg:h-40">
            		<img src="/assets/indlagt_ikon.svg" alt="" class="scale-60 lg:scale-80 lg:pt-4">
            		<Heading htmlheading="h3" size="medium" stylingclasses="font-semibold">Når børn indlægges</Heading>
					<div class="ml-auto scale-70 transition-transform duration-300 group-open:rotate-180 lg:mr-4 lg:scale-100">
						<img src="/assets/chevrondown.svg" alt="" >
					</div>
        		</summary>
				<div class="bg-dustblue200 w-100 mt-4 border-4 border-skyblue500 rounded-tr-4xl rounded-bl-4xl p-4 md:w-170 md:overflow-y-auto md:h-100 lg:w-300 lg:h-100 lg:overflow-y-auto">
					<div class="grid grid-cols-1 lg:grid-cols-2">
						<div>
							<Heading htmlheading="h3" size="large" stylingclasses="font-semibold pb-2 text-text">Når børn bliver indlagt</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">En indlæggelse er en stor omvæltning for et barn. Nye omgivelser, rutiner og fravær fra skole, venner og fritidsliv kan skabe usikkerhed. Samtidig skal barnet gennem undersøgelser og møder ofte et sprog, de ikke forstår.</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Indlagte børns trivsel</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Børnerådets undersøgelse (2017) viser, at børn oplever en stor afstand mellem deres almindelige liv og hospitalslivet og oftere føler sig ensomme end andre børn.</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Indlæggelser gennem tiden</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Tidligere blev børn indlagt alene, og savn blev mistolket som tilpasning. I dag ved man, at indlæggelser kan vække angst, stress, ensomhed og utryghed, og derfor indlægges børn sammen med en forælder.</Text>
							<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">En uhensigtsmæssig hospitalskultur</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">Selvom indlagte børn ofte kan mere, end man tror, holdes de tilbage af en kultur, hvor syge børn forventes at være stille og rolige. En mor fortæller:</Text>
							<Text teksttype="konsultativ" stylingclasses="text-text">“Jeg kan mærke, at jeg nogle gange tysser meget på ham… For hvis vi kan løbe rundt og lege, så burde vi jo sådan set ikke være her. Så er vi ikke rigtig syge.”</Text>
							<Heading htmlheading="h5" size="xsmall" stylingclasses="text-text">Mor til indlagt dreng</Heading>
							<Text teksttype="brødtekst" stylingclasses="pt-4 text-text">Malene Søborg Heidemann, læge på Odense Universitetshospital, beskriver samme problematik:</Text>
							<Text teksttype="konsultativ" stylingclasses="pt-1 text-text">“Indlagte børn er ofte begrænset af behandlinger og forældres bekymringer, og længere indlæggelser kan forstærke inaktivitet. Det kan være svært at motivere til fysisk aktivitet, bl.a. pga. forventninger til, hvordan man ‘skal’ være, når man er syg, samt rammer der ikke inviterer til bevægelse. Mobilisering er vigtig, da aktivitet og leg skaber glæde og velvære og kan forbedre indlæggelsesforløbet.”</Text>
							<Heading htmlheading="h5" size="xsmall" stylingclasses="text-text">Malene Søborg Heidemann, læge på Odense Universitetshospital</Heading>
							<Heading htmlheading="h5" size="xsmall" stylingclasses="pt-4 text-text">Legeheltene arbejder for at ændre denne kultur. Bevægelse har dokumenterede positive effekter – også for indlagte børn – og derfor skaber Legeheltene sjove, trygge og aktive lege, der hjælper børn væk fra sengen og styrker deres trivsel.</Heading>
						</div>
						<div class="self-center">
							<img src="/img/indlagt.webp" alt="">
						</div>
				</div>
    		</details>

			<!-- Tal og statistik -->
			<details class="group intersect:animate-fade-down animate-once animate-duration-800ms">
        		<summary class="flex flex-row items-center bg-offwhite w-90 h-30 p-4 rounded-tr-4xl rounded-bl-4xl border-4 border-transparent group-open:border-grassgreen700 transition md:w-170  lg:w-300 lg:h-40 lg:justify-end">
            		<div class="mr-auto scale-60 transition-transform duration-300 group-open:rotate-180 lg:ml-4 lg:scale-100">
						<img src="/assets/chevrondown.svg" alt="" >
					</div>
					<Heading htmlheading="h3" size="medium" stylingclasses="font-semibold text-right lg:pr-4 text-text">Tal & statistik</Heading>
					<img src="/assets/statitisk_ikon.svg" alt="" class="scale-60 lg:scale-80">
        		</summary>
        		<div class="bg-dustgreen200 w-100 mt-4 border-4 border-grassgrenn700 rounded-tr-4xl rounded-bl-4xl md:w-170 md:overflow-y-auto md:h-100 lg:overflow-y-auto lg:w-300 lg:h-100">
        			<div class="grid grid-cols-1 lg:grid-cols-2">
					<div class="p-4">
					<Heading htmlheading="h3" size="large" stylingclasses="font-semibold pb-2 text-text">Tal og statistik</Heading>
					<Text teksttype="brødtekst" stylingclasses="text-text">Legeheltene arbejder for at skabe aktiv leg og bevægelse for indlagte og udsatte børn.</Text>
					<Text teksttype="brødtekst" stylingclasses="text-text">Her har vi samlet relevant data om:.</Text>
					<ul class="list-disc ml-6">
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Leg og bevægelse</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Indlagte og syge børn</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Data fra Legeheltenes arbejde</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Hospitalspersonalets oplevelse af Legeheltenes arbejde</Text></li>
					</ul>
					<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Data om leg og bevægelse</Heading>
					<ul class="list-disc ml-6">
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Ifølge WHO og Sundhedsstyrelsen bør børn bevæge sig 60 minutter om dagen, mens voksne kan nøjes med et minimum på 20-30 minutter om dagen (Sundhedsstyrelsen, 2006).</Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Ifølge et forskningsprojekt fra Center for Sund Aldring og Biomedicinsk Institut på Københavns Universitet (2025), gør 14 dages inaktivitet unge 40 år svagere. Forskningen viser, at det tager omkring seks uger at genvinde den tabte kondition og muskelmasse og endnu længere tid at genvinde muskelstyrken.</Text></li>
					</ul>
					<Heading htmlheading="h4" size="medium" stylingclasses="font-medium pb-2 pt-4 text-text">Data om indlagte børn og syge</Heading>
					<ul class="list-disc ml-6">
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Ifølge Danmarks Statistik bliver ca. 60.000 børn i alderen 1-14 år hvert år indlagt. </Text></li>
						<li><Text teksttype="brødtekst" stylingclasses="text-text">Tal fra Sundhedsdatastyrelsen (2018) viser, at ca. 35.000 børn i alderen 0-19 år hvert år er i kontakt med psykiatrien (2017). Heraf bliver en ud af 20 indlagt.</Text></li>
						<li><Text stylingclasses="text-text">Hvert sjette barn i aldersgruppen 5-17 år, lider af en kronisk eller langvarig sygdom. Heraf føler 11 % sig ofte eller altid ensomme, og 17 % bliver mobbet eller holdt udenfor af deres jævnaldrende. (Danske Patienter, 2017).</Text></li>
					</ul>
					<Heading htmlheading="h4" size="medium" stylingclasses="font-semibold pt-8 text-text">Det siger hospitals personalet om Legeheltene</Heading>
					</div>
					<div class="self-center">
						<img src="/img/talogstat.webp" alt="">
					</div>
					</div>
					<div class="bg-offwhite flex flex-col text-center md:gap-10 justify-center items-center p-6 lg:p-4 lg:flex-row lg:gap-4">
						<div class="md:w-70">
							<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-text">90%</Heading>
							<Heading htmlheading="h4" size="small" stylingclasses="font-medium pt-2 text-text">Oplevelse af legeheltene</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">90,6 % har en god eller rigtig god oplevelse af Legeheltenes besøg på børneafdelingen</Text>
						</div>
						<div class="md:w-70">
							<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-text">92%</Heading>
							<Heading htmlheading="h4" size="small" stylingclasses="font-medium pt-2 text-text">Leg og bevægelse</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">92,2 % oplever, at Legeheltene bidrager med mere bevægelse og aktiv leg blandt indlagte børn.</Text>
						</div>
						<div class="md:w-70">
							<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-text">86%</Heading>
							<Heading htmlheading="h4" size="small" stylingclasses="font-medium pt-2 text-text">Positiv oplevelse</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">85,7 % mener, at Legeheltene gør indlæggelsen til en mere positiv oplevelse for børnene</Text>
						</div>
						<div class="md:w-70">
							<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-text">86%</Heading>
							<Heading htmlheading="h4" size="small" stylingclasses="font-medium pt-2 text-text">Frirum</Heading>
							<Text teksttype="brødtekst" stylingclasses="text-text">85,7 % mener, at Legeheltene skaber et frirum fra sygdom for børnene</Text>
						</div>
					</div>
					
				</div>
    		</details>
			
			</div>
		</section>
		<!-- SLUT - LEG OG BEVÆGELSE -->

		<!-- START - MØD LEGEHELTENE -->
			<section class=" container mt-40 mb-40 2xl:max-w-bscreen mx-auto">
			<div class="lg:flex lg:justify-start">
    				<!-- Mobil doodle -->
					<img src="/assets/mobil_orange_doodle.svg" alt="" class="mx-auto pb-8 block lg:hidden">
					<!-- Desktop doodle -->
					<img src="/assets/orange_doodle_web.svg" alt="" class="hidden lg:block lg:mx-0 mb-10 pl-14">
				</div>
			<Heading htmlheading="h2" size="large" font="display" stylingclasses="text-center pb-10 lg:text-left lg:pl-14 text-text intersect:animate-fade-right animate-once animate-duration-800ms">Mød legeheltene</Heading>
			<article class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth gap-6 mx-8 lg:gap-60 lg:ml-14 mt-10 intersect:animate-fade-left animate-once animate-duration-800ms">
				<div id="cecilie" class="flex-none justify-center lg:min-w-0 snap-start lg:w-80">
					<Legehelte
					size="large"
					cardimage="/img/cecilie.webp"
					cardtitle="Cecilie N."
					education="Uddannelse: Idræt"
					cardtext="Legehelt på Løkkehus Børnehjem,H.C. Andersen Børne- og Ungehospital og Ronald McDonald Huset i Odense"
					/>
				</div>
				<div id="laura" class="flex-none justify-center  lg:min-w-0 snap-start lg:w-80">
					<Legehelte
					size="large"
					cardimage="/img/laura_legehelt.webp"
					cardtitle="Laura b."
					education="Uddannelse: Kandidat i Idræt"
					cardtext="Legehelt på Aalborg Universitetshospital og Regionshospitalet Nordjylland"
					/>
				</div>
				<div id="benjamin" class="flex-none justify-center  lg:min-w-0  snap-start lg:w-80">
					<Legehelte
					size="large"
					cardimage="/img/benjamin_legehelt.webp"
					cardtitle="Benjamin R."
					education="Uddannelse: Bachelor i Idræt og Sundhed"
					cardtext="Legehelt på Skejby Sygehus og Helteakademiet i Aarhus"
					/>
				</div>
				<div id="emily" class="flex-none justify-center lg:min-w-0  snap-start lg:w-80">
					<Legehelte
					size="large"
					cardimage="/img/emily_legehelt.webp"
					cardtitle="Emily D."
					education="Uddannelse: Idrætsvidenskab"
					cardtext="Legehelt på Aarhus Universitetshospital, Hammel neurocenter, Helteakademi AGF og Helteakademi Birkebakken"
					/>
					
				</div>
				<div id="ida" class="flex-none justify-center  lg:min-w-0  snap-start lg:w-80 ">
					<Legehelte
					size="large"
					cardimage="/img/ida_legehelt.webp"
					cardtitle="Ida B."
					education="Uddannelse: Fysioterapeut"
					cardtext="Legehelt på Aalborg Universitetshospital og Aalborg Universitetshospital Psykiatrien"
					/>
				</div>
			</article>
		</section>
	</main>
</MainLayout>