---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
    <main class="container mx-auto p-8 2xl:max-w-bscreen" x-data="{ confirmed: false }">
        <section x-show="!confirmed" x-transition>
            <Heading htmlheading="h1" size="xlarge" font="display" stylingclasses="text-center mt-10">Tak fordi du støtter Heltene</Heading>
			<div class="relative w-full mx-auto mt-10 lg:mt-20">
        		<!-- Linjen -->
        		<div class="h-2 bg-offwhite w-73 mx-auto lg:w-200"></div>
        		<!-- Cirkler ovenpå linjen -->
        		<div class="absolute -bottom-2 left-9 flex justify-between w-73 lg:w-200 mx-auto lg:left-52 lg:-bottom-3  2xl:left-93">
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
            		<div class="bg-burnedorange100 border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10"></div>
            		<div class="bg-offwhite border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10"></div>
        		</div>
    		</div>
			<div class="grid grid-cols-4 items-center text-center gap-6 mt-4 lg:mx-29 2xl:w-max-bscreen 2xl:mx-65">
				<Text teksttype="brødtekst">Beløb</Text>
				<Text teksttype="brødtekst">Oplysninger</Text>
				<Text teksttype="brødtekst">Betal</Text>
				<Text teksttype="brødtekst">Bekræftelse</Text>
			</div>
            <div class="flex justify-center">
                <div class="flex flex-col justify-center items-center bg-offwhite rounded-4xl py-4 px-10 mt-10 lg:w-110">
                    <img src="/assets/logo.svg" alt="">
                    <Heading htmlheading="h4" size="small" stylingclasses="text-center mt-6">Børneulykkesfonden</Heading>
                    <Heading htmlheading="h3" size="medium" stylingclasses="text-center">250 DKK</Heading>
                    <label><Heading htmlheading="h4" size="small" font="sans" stylingclasses="font-medium self-start pb-2 pt-6" >Tlf nr.</Heading>
            	    <input type="text" class="mb-4 w-80 rounded-4xl border-none text-text bg-bg text-base font-serif  pl-3 pr-20 py-2 transition duration-300 ease focus:outline-accent lg:h-12 lg:text-xl" placeholder="34 56 67 78"/>	
				    <div class="flex justify-center mt-6">
                	    <input id="default-radio-1" type="radio" value="" name="default-radio" class="border-1 border-accent bg-offwhite focus:ring-accent checked:bg-accent rounded-full lg:w-6 lg:h-6">
                	    <label for="default-radio-1" class="select-none ms-2 font-serif text-xl"><Text teksttype="brødtekst">Husk mit nummer</Link></Text></label>
            	    </div>
                    <div class="mt-10 flex justify-center mb-5">
                    	<Button type="button" @click.prevent="confirmed = true" variant="primary" size="medium" icon="/assets/stoet_ikon_web.svg" iconHover="/assets/stoet_ikon_filled.svg">Betal</Button>
                    </div>	
                </div>
            </div>
        </section>

        <!-- Bekræftelse -->
        <section x-show="confirmed" x-transition class=" mx-auto 2xl:max-w-bscreen">
        <Heading htmlheading="h1" size="xlarge" font="display" stylingclasses="text-center">Tak fordi du støtter Heltene</Heading>
			<div class="relative  mt-10 lg:mt-20 ">
        		<!-- Linjen -->
        		<div class="h-2 bg-offwhite w-73 mx-auto lg:w-200"></div>
        		<!-- Cirkler ovenpå linjen -->
        		<div class="absolute -bottom-2 left-9 flex justify-between w-73 lg:w-200 mx-auto lg:left-52 lg:-bottom-3  2xl:left-93">
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
            		<div class="bg-accent border-3 border-accent rounded-full h-7 w-7 lg:h-10 lg:w-10 flex items-center justify-center">
						<img src="/assets/check.svg" alt="" class="lg:scale-115">
					</div>
        		</div>
    		</div>
			<div class="grid grid-cols-4 items-center text-center gap-6 mt-4 lg:mx-29 2xl:w-max-bscreen 2xl:mx-65">
				<Text teksttype="brødtekst">Beløb</Text>
				<Text teksttype="brødtekst">Oplysninger</Text>
				<Text teksttype="brødtekst">Betal</Text>
				<Text teksttype="brødtekst">Bekræftelse</Text>
			</div>
			<div class="flex flex-col justify-center items-center">
				<img src="/assets/logo.svg" alt="" class="mt-10 lg:scale-140 lg:mt-20">
				<Heading htmlheading="h3" size="medium" stylingclasses="text-center mt-6 lg:w-110">Tusind tak for dit bidrag til Heltenes arbejde!</Heading>
				<Text teksttype="brødtekst" stylingclasses="text-center mt-4 lg:w-120">Du gør en heltegerning, der betyder mere, end du aner. Du vil inden for nogle få minutter modtage en bekræftelse på din donation. Her kan du læse mere om, hvad dit bidrag egentlig betyder. </Text>
				<div class="mt-10">
					<Text><Link href="/stoette" variant="secondary" size="medium">Det går din støtte til</Link></Text>
				</div>
			</div>
        </section>  
    </main>
</MainLayout>