---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Stoet from "../components/Stoet.astro";
---
<MainLayout title="Støt nu">
	<main class="">

<!-- Start på hero -->

<img 
  src="/assets/mobil_orange_doodle.svg" 
  alt="Orange doodle mobil" 
  class="block md:hidden mx-auto" 
/>

<!-- Medium -->
<img 
  src="/assets/mobil_orange_doodle.svg" 
  alt="Orange doodle medium" 
  class="hidden md:block lg:hidden mx-auto"
/>


<!-- Desktop -->
<img 
  src="/assets/orange_doodle_web.svg" 
  alt="Orange doodle desktop" 
  class="hidden lg:block ml-20 mt-12"
/>

<section
  class="
    w-full
    min-h-145
	bg-[url(/assets/mobil_regnbue_hero.svg)]
    bg-cover bg-center bg-no-repeat

    md:w-full
    md:min-h-250

    lg:min-h-145 
    lg:bg-[url(/assets/regnbue_hero.svg)]
    lg:bg-cover"
>

<div class="grid grid-cols-1 
	lg:grid-cols-2 grid-rows-2">

 <!-- Tekst container -->
<div class="text-center lg:text-left px-4 lg:px-20">

<Heading htmlheading="h1" font="display" size="xlarge" 	stylingclasses="text-text mt-4 mb-6">Støt i dag og gør en heltegerning</Heading>

<Text stylingclasses="mb-8">
   Du er ved at gøre en vaskeægte heltegerning. Med din støtte kan vi give indlagte og udsatte børn et frirum med plads til leg og fællesskab.
</Text>
	
<!-- Button-komponent -->
<Button>Støttemuligheder</Button>

</div>
<!-- Mobil -->

<div class="">
<img 
  src="assets/mobil_helteikoner.svg" 
  alt="Helteikoner mobil" 
  class="block md:hidden w-auto max-w-full ml-32"
/>

<!-- Medium -->
<img 
  src="assets/mobil_helteikoner.svg" 
  alt="Helteikoner medium" 
  class="hidden md:block lg:hidden w-auto max-w-full ml-32"
/>

<!-- Desktop -->
<img 
  src="assets/helteikoner_hero.svg" 
  alt="Helteikoner desktop" 
  class="hidden lg:block w-auto max-w-full ml-32"
/>
</div>
</div>

<div class="-mt-20 md:-mt-28 lg:-mt-90">
  <Stoet />
</div>

</section>

<!-- Slut på hero -->



		
	</main>
</MainLayout>