---
const { variant = "primary", size = "medium", icon = null, iconHover = null, type = "button", ...attrs} = Astro.props;

// Base styling (gælder alle knapper)
const buttonStyling =
  "border-2 px-12 py-3 rounded-full inline-flex items-center gap-2 transition-all duration-500";

// Varianter
const variantClasses = {
  primary:
    "border-accent border-4 bg-burnedorange100 text-accent hover:bg-accent hover:text-offwhite cursor-pointer hover:scale-102",
  secondary:
    "bg-accent border-accent text-offwhite bg-no-repeat bg-center bg-cover hover:bg-[url('/assets/regnbue_hover.svg')] cursor-pointer hover:scale-102",
};

// Størrelser
const sizeClasses = {
  default: "text-default",
  large: "text-base lg:text-xl",
  medium: "text-sm lg:text-lg",
  small: "text-base",
};

// Ikonstørrelser
const iconSizeClasses = {
  default: "w-6 h-6",
  large: "w-8 h-8",
  medium: "w-6 h-6",
  small: "w-5 h-5",
};

const iconSize = iconSizeClasses[size];
---

<button type={type}{...attrs} class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "group", attrs.class]}>
  <slot />
  {icon && (<><img src={icon} alt="" class:list={[iconSize, "group-hover:hidden"]}/>{iconHover && (<img src={iconHover} alt="" class:list={[iconSize, "hidden group-hover:block"]}/>)}</>)}</button>
