---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---
<footer class="bg-dustblue200 px-6">
    <div class="pt-4 lg:px-10 lg:pt-10 ">
        <a href="/"><img src="/assets/logo.svg" alt=""></a>
    </div>
    <div class="lg:p-10">
        <div class="lg:grid lg:grid-cols-2">
            <div>
                <Heading htmlheading="h1" size="large" font="display">Følg med i små og store helteøjeblikke</Heading>
                <Text teksttype="brødtekst">Tilmeld dig vores nyhedsbrev her!</Text>
                <form class="py-2 mb-6 flex gap-4 items-center">
                    <input type="email" class="rounded-full border-none p-3" placeholder="Email">
                    <Button variant="primary" size="medium">Tilmeld dig!</Button>
                </form>
                <div class="py-2 lg:w-100">
                    <Text teksttype="brødtekst">Legeheltene, Kreaheltene, Helteakademiet, Heltecamps og Heltekaravanen er en del af Børneulykkesfonden.</Text>
                </div>
                <div class="py-2">
                    <Text teksttype="brødtekst">Børneulykkesfonden</Text>
                    <Text teksttype="brødtekst">Gammel Kongevej 60</Text>
                    <Text teksttype="brødtekst">DK-1790 København</Text>
                </div>
            </div>
            <div class="grid grid-cols-2 lg:grid-cols-3 lg:">
                <div class="py-2 ">
                    <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">OM OS</Heading>
                    <Text><Link href="/om" variant="headerlink2" size="large">Om os</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Presserum</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Ledige stillinger</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Bliv frivllig</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Ansvarlighed</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Indsamlingsetik</Link></Text>
                </div>
                <div class="py-2">
                    <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">HELTEINITIATIVER</Heading>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Legeheltene</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Kreaheltene</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Helteakademiet</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Heltecamps</Link></Text>
                </div>
                <div class="py-2">
                    <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">STØT</Heading>
                    <Text><Link href="/om" variant="headerlink2" size="large">Støt som privatperson</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Støt som virksomhed</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Støttemuligheder</Link></Text>
                    <Text><Link href="" variant="headerlink2" size="large">Skattefradrag</Link></Text>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex flex-row gap-6">
                <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">ÅBNINGSTIDER:</Heading>
                <Text teksttype="brødtekst">Mandag til fredag fra kl. 08.30-15.30</Text>
            </div>
            <div class="flex flex-row gap-22">
                <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">EMAIL:</Heading>
             <Text teksttype="brødtekst">buf@borneulykkesfonden.dk</Text>
            </div>
            <div class="flex flex-row gap-16">
                <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">TELEFON:</Heading>
                <Text teksttype="brødtekst">+45 30 37 77 22</Text>
            </div>
            <div class="flex flex-row gap-26">
                <Heading htmlheading="h4" size="small" stylingclasses="font-semibold">CVR:</Heading>
                <Text teksttype="brødtekst">31715105</Text>
            </div>
        </div>
    </div>
    </div>
</footer>