---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Heading from "./Heading.astro";
---
<header x-data="{ showmenu: false }" class="bg-offwhite" >
    <div id="navbar" class="px-2 py-2 flex flex-row justify-between items-center lg:px-4">
        <div id="logo">
            <a href="/"><img class="scale-80 lg:scale-100" src="/assets/logo.svg"></a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-6 items-center">
                <!-- dropdown 1 -->
                <li class="relative z-100" x-data="{ open: false }">
                    <button @click="open = !open" class="text-xl hover:text-accent font-semibold cursor-pointer">+ HELTEINITIATIVER</button>
                    <div x-show="open" @click.outside="open = false" x-transition class="absolute bg-offwhite flex flex-col mt-2 px-6 py-4 rounded-br-[50px]">
                        <Text><Link href="/legeheltene" variant="headerlink2" size="large">Legeheltene</Link></Text>
                        <Text><Link href="/legeheltene" variant="headerlink2" size="large">Kreaheltene</Link></Text>
                        <Text><Link href="/legeheltene" variant="headerlink2" size="large">Helteakademiet</Link></Text>
                        <Text><Link href="/legeheltene" variant="headerlink2" size="large">Heltecamps</Link></Text>
                    </div>
                </li>
                <!-- dropdown 2 -->
                <li class="relative z-100" x-data="{ open: false }">
                    <button @click="open = !open" class="text-xl hover:text-accent font-semibold cursor-pointer">+ OM OS</button>
                    <div x-show="open" @click.outside="open = false" x-transition class="absolute bg-offwhite  mt-2 px-6 py-4 rounded-br-[50px] grid grid-cols-2 min-w-lg">
                        <div class="">
                            <Heading htmlheading="h4" size="xsmall" font="sans" stylingclasses="text-grey500">DET GØR VI</Heading>
                            <Text><Link href="/om" variant="headerlink2" size="large">Om os</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Organisationen</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Ansvarlighed</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Indsamlingsetik</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Støttemuligheder</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Find os</Link></Text>
                        </div>
                        <div class="">
                            <Heading htmlheading="h4" size="xsmall" font="sans" stylingclasses="text-grey500">DET GØR ANDRE</Heading>
                            <Text><Link href="" variant="headerlink2" size="large">Sponsorer</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Samarbejdspartnere</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Ambassadørfamilier</Link></Text>
                            <Text><Link href="" variant="headerlink2" size="large">Helteklubben</Link></Text>
                        </div>
                    </div>
                </li>
                <li><Link href="/stoette" variant="headerlink" size="medium" font="sans">DET STØTTER DU</Link></li>
                <li><Link href="https://xn--brneulykkesfonden-00b.dk/forside" variant="headerlink" size="medium">GÅ TIL BØRNEULYKKESFONDEN</Link></li>
                <li class=""><Link href="/form1" variant="primary" size="large" icon="/assets/stoet_ikon_web.svg" iconHover="/assets/stoet_ikon_filled.svg">Støt</Link></li>
            </ul>
        </nav>
        <!-- Burgermenu -->
         <div class="flex items-center gap-6 lg:hidden">
            <Link href="/form1" variant="primary" size="large" icon="/assets/stoet_ikon_web.svg" iconHover="/assets/stoet_ikon_filled.svg">Støt</Link>
            <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
            </button>
        </div>
    </div>
    <nav x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
        <ul class="border-t-2 border-b-2 border-black p-4">
            <li class="text-left py-2">
                <details>
                    <summary class="text-lg hover:text-accent font-semibold">HELTEINITIATIVER</summary>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Legeheltene</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Kreaheltene</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Helteakademiet</Link></Text>
                    <Text><Link href="/legeheltene" variant="headerlink2" size="large">Heltecamps</Link></Text>
                </details>
            </li>
            <li class="text-left py-2">
                <details>
                    <summary class="text-lg hover:text-accent font-semibold">OM OS</summary>
                    <div class="">
                        <Heading htmlheading="h4" size="xsmall" font="sans" stylingclasses="text-grey500">DET GØR VI</Heading>
                        <Text><Link href="/om" variant="headerlink2" size="large">Om os</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Organisationen</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Ansvarlighed</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Indsamlingsetik</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Støttemuligheder</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Find os</Link></Text>
                    </div>
                    <div class="">
                        <Heading htmlheading="h4" size="xsmall" font="sans" stylingclasses="text-grey500">DET GØR ANDRE</Heading>
                        <Text><Link href="" variant="headerlink2" size="large">Sponsorer</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Samarbejdspartnere</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Ambassadørfamilier</Link></Text>
                        <Text><Link href="" variant="headerlink2" size="large">Helteklubben</Link></Text>
                    </div>
                </details>
            </li>
            <li><Text><Link href="/stoette" variant="headerlink" size="medium">DET STØTTER DU</Link></Text></li>
            <li><Text><Link href="https://xn--brneulykkesfonden-00b.dk/forside" variant="headerlink" size="medium">GÅ TIL BØRNEULYKKESFONDEN</Link></Text></li>
                
        </ul>
    </nav>

    <script>
        function toggleDropdown(){
            let dropdown = document.querySelector ('#dropdownbutton #dropdown');
            dropdown.classList.toggle('hidden')
        }
    </script>
</header>
