---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "textlink", size = "default", icon = null, iconHover = null } = Astro.props; 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle links
const linkStyling = "rounded-full text-sans inline-flex items-center gap-2"; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"textlink": "underline text-text hover:text-accent", /* text-primary-500 */
"primary": "inline-block px-12 py-3 bg-accent border-4 border-accent text-offwhite hover:bg-[url('/assets/regnbue_hover.svg')]", /* border-primary-500 */
"secondary": "inline-block border-4 px-12 py-3 border-accent bg-burnedorange100 text-accent hover:bg-accent hover:text-offwhite", /* border-secondary-500 */
"headerlink": "text-text hover:text-accent font-semibold",
"headerlink2": "text-text hover:text-accent"
};
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
"default": "text-default", 
"large": "text-base lg:text-2xl",
"medium": "text-lg lg:text-xl",
"small": "text-base"
};


//Definer ikonstørrelse baseret på linkens størrelse
const iconSizeClasses = {
"default": "w-6 h-6",
"large": "w-7 h-7",
"medium": "w-6 h-6",
"small": "w-5 h-5"
};

const iconSize = iconSizeClasses[size];
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size], "group"]}>
  <slot />
  {icon && (
    <>
      <img src={icon} alt="icon" class:list={[iconSize, "icon-default group-hover:hidden"]} />
      {iconHover && <img src={iconHover} alt="icon hover" class:list={[iconSize, "icon-hover hidden group-hover:block"]} />}
    </>
  )}
</a>